/* colors :37353E  -->dark
44444E
715A5A
D3DAD9
*/
*{
    margin:0;
    padding:0;
}

body{
    font-family:"Sansation", sans-serif;
    background-color: #44444E ;
    display:flex;
    min-height: 100vh;
    flex-direction: column;

}
header{
    width:100%;
    background-color: #37353E;
    color:#D3DAD9;
    padding: 15px 20px;
}
.logo{
    font-size:1.5rem;
    font-weight:bold;
}
.layout{
    display:flex;
    min-height:calc(100vh - 60px);
}
.sidebar{
    width:200px;
    background: #413f47;
    padding:20px 0;
}
.sidebar ul{
    list-style:none;
    margin:0;
    padding:0;
    
}
.sidebar ul li{
    
    /* border:1px white solid; */

}
.sidebar ul li a{
    color:#D3DAD9;
    text-decoration: none;
    padding:10px ;
    width:100%;
    display:block;
    box-sizing: border-box;
}
.sidebar ul li a:hover{
    border:2px #D3DAD9 solid;
    transition: border 0.3s ease;
}

main{
    flex-grow:1;
    display:flex;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
    color:#D3DAD9;
    /* border: 1px solid #D3DAD9; */
    border-radius:10px;
}
#middle{
    max-width: 400px;
    width:100%;
    text-align:center;
    /* border: 1px solid #D3DAD9; */
    background-color: #00000065;
    border-radius: 10px;
}
.user-profile{
    text-align:center;
    margin-bottom:30px;
}
.user-photo{
    width:300px;
    height:300px;
    border-radius: 50%;
    margin-top:10px;
    margin-bottom: 10px;
}

.user-name{
    font-size:1.8rem;
    color:#d3dad9;
    font-weight: 400;
}

.future-expenses{
    /* border: 1px solid #D3DAD9; */
    background-color: #08070776;
    min-height:30vh;
    font-family: "Asimovian", sans-serif;
    font-style: normal;
    font-size:1.5rem;    

}
#right{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    margin-left:10px;
    gap:10px;
    
}
#right-top{
    flex-grow:1;
    
    /* padding:10px; */
    /* border:1px solid white; */
}
.expense-form{
    padding:10px;
    background-color: #37353E;
    border:1px solid #715a5a;
    border-radius:10px
}

.expense-form h4{
    font-size:1.3rem;
    color:#d3dad9;
    margin-bottom:15px;
   
}
.form-group{
    margin-bottom:15px;
}
.form-group label{
    display:block;
    color:#D3DAD9;
    margin-bottom:5px;
    font-size:1rem;
}
.form-group select{
    width:100%;
    padding:8px;
    background:#44444E;
    border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;
}
.form-group input[type="text"]{
    width:100%;
    padding:8px;
    background-color: #44444e;
     border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;

}
.form-group input[type="textbox"]{
    width:100%;
    padding:8px;
    background-color: #44444e;
     border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;

}
.form-group input[type="textbox"]:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="textbox"]::placeholder{
    color:#d3dad96c;
}
.form-group select:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="text"]:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="text"]::placeholder{
    color:#d3dad96c;
}

.form-group input[type="number"]{
    width:100%;
    padding:10px;
    background-color: #44444E;
    border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;

}
.form-group input[type="number"]:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="number"]::placeholder{
    color:#d3dad96c;
}
.checkbox-group{
    display:flex;
    align-items:center;
    margin-bottom:15px;

}
.checkbox-group input[type="checkbox"]{
    margin-right:10px;
    cursor:pointer;
    accent-color:#715A5A;
}

.expense-form button{
    width:100%;
    padding:5px;
    background:#44444e;
    color:#D3DAD9;
    border:1px solid #715A5A;
    font-family: "Sansation";
    font-size:1rem;
}
.expense-form button:hover{
    background: linear-gradient(to right,#5a4a4a,#715A5A);
}

#right-bottom{
    min-height:40vh;
    border:1px solid #715A5A;
    border-radius:10px;
    padding:10px;
    background-color: #37353E;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    gap:10px;
    min-height:150px;

}
#right-bottom h3{
    font-size:1.3rem;
}
#list-of-expenses{
    margin-top:10px;
    width:100%;
    border-collapse: collapse;
}
#list-of-expenses tr td , th,#list-of-expenses{
    border:1px solid #D3DAD9;
}
#list-of-expenses tr td{
    padding-left:10px;
}
#right-bottom button{
    padding:10px;
    align-self:flex-end;
    justify-self: end;
    cursor:pointer;
    border:1px solid #715A5A;
    color: #d3dad9;
    background-color: #44444e;


}
#right-bottom button:hover{
    background-color: #5a4a4a;
}