/* colors :37353E  -->dark
44444E
715A5A
D3DAD9
*/
*{
    margin:0;
    padding:0;
}

body{
    font-family:"Sansation", sans-serif;
    background-color: #44444E ;
    display:flex;
    /* min-height: 100vh; */
    max-height:100vh;
    max-width: 100%;
    flex-direction: column;
    /* position:fixed; */

}
header{
    max-width: 100%;
    background-color: #37353E;
    color:#D3DAD9;
    padding: 15px 20px;
    display:flex;
    justify-content: space-between;
}
.logo{
    font-size:1.5rem;
    font-weight:bold;
}
#user-add,#user-switch{
    padding:5px;
    background:#44444e;
    color:#D3DAD9;
    border:1px solid #715A5A;
    font-family: "Sansation";
    font-size:1rem;
}
.layout{
    display:flex;
    min-height:calc(100vh - 60px);
}
.sidebar{
    min-width:170px;
    background: #413f47;
    /* padding:20px 0; */
}
.sidebar ul{
    list-style:none;
    margin:0;
    padding:0;
    
}
.sidebar ul li{
    
    /* border:1px white solid; */

}
.sidebar ul li a{
    color:#D3DAD9;
    text-decoration: none;
    padding:10px ;
    width:100%;
    display:block;
    box-sizing: border-box;
}
.sidebar ul li a:hover{
    border:2px #D3DAD9 solid;
    transition: border 0.3s ease;
}
.sidebar ul li a.active{
    background-color: #37353c;
}
#personal{
    display:flex;
    flex-grow:1;
    width:100%;
}
#personal main{
    flex-grow:1;
    display:flex;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
    color:#D3DAD9;
    /* border: 1px solid #D3DAD9; */
    border-radius:10px;
}
#middle{
    max-width: 400px;
    width:100%;
    text-align:center;
    /* border: 1px solid #D3DAD9; */
    background-color: #00000065;
    border-radius: 10px;
}
.user-profile{
    text-align:center;
    margin-bottom:30px;
}
#user-photo{
    width:300px;
    height:300px;
    border-radius: 50%;
    margin-top:10px;
    margin-bottom: 10px;
}

#user-name{
    font-size:1.8rem;
    color:#d3dad9;
    font-weight: 400;
}

.future-expenses{
    /* border: 1px solid #D3DAD9; */
    background-color: #08070776;
    min-height:30vh;
    font-family: "Asimovian", sans-serif;
    font-style: normal;
    font-size:1.5rem;    

}
#checklist {
    list-style: none;
    padding: 10px;
    color: #D3DAD9;
}

#checklist li {
    padding: 5px 0;
    border-bottom: 1px solid #715A5A;
    font-size:1rem;
}
#right{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    margin-left:10px;
    gap:10px;
    
}
#right-top{
    flex-grow:1;
    
    /* padding:10px; */
    /* border:1px solid white; */
}
.expense-form{
    padding:10px;
    background-color: #37353E;
    border:1px solid #715a5a;
    border-radius:10px
}

.expense-form h4{
    font-size:1.3rem;
    color:#d3dad9;
    margin-bottom:15px;
   
}
.form-group{
    margin-bottom:15px;
}
.form-group label{
    display:block;
    color:#D3DAD9;
    margin-bottom:5px;
    font-size:1rem;
}
.form-group select{
    width:100%;
    padding:8px;
    background:#44444E;
    border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;
}
.form-group input[type="text"]{
    width:100%;
    padding:8px;
    background-color: #44444e;
     border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;

}
.form-group input[type="textbox"]{
    width:100%;
    padding:8px;
    background-color: #44444e;
     border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;

}
.form-group input[type="textbox"]:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="textbox"]::placeholder{
    color:#d3dad96c;
}
.form-group select:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="text"]:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="text"]::placeholder{
    color:#d3dad96c;
}

.form-group input[type="number"]{
    width:100%;
    padding:10px;
    background-color: #44444E;
    border:1px solid #715a5a;
    color:#D3DAD9;
    border-radius: 5px;
    box-sizing: border-box;
    font-size:1rem;

}
.form-group input[type="number"]:focus{
    outline:none;
    border-color:#d3dad9;
}
.form-group input[type="number"]::placeholder{
    color:#d3dad96c;
}
.checkbox-group{
    display:flex;
    align-items:center;
    margin-bottom:15px;

}
.checkbox-group input[type="checkbox"]{
    margin-right:10px;
    cursor:pointer;
    accent-color:#715A5A;
}

.expense-form button{
    width:100%;
    padding:5px;
    background:#44444e;
    color:#D3DAD9;
    border:1px solid #715A5A;
    font-family: "Sansation";
    font-size:1rem;
}
.expense-form button:hover{
    background: linear-gradient(to right,#5a4a4a,#715A5A);
}

#right-bottom{
    border:1px solid #715A5A;
    border-radius:10px;
    padding:10px;
    background-color: #37353E;
    display:flex;
    flex-direction:column;
    gap:10px;
    min-height:30vh;
    max-height:30vh;

}
#right-bottom h3{
    font-size:1.3rem;
}
#list-of-expenses{
    width:100%;
    border-collapse: collapse;

    
}
#list-of-expenses tr td , th,#list-of-expenses{
    border:1px solid #D3DAD9;
}
#list-of-expenses tr td{
    padding-left:10px;
}
#right-bottom button{
    padding:10px;
    align-self:flex-end;
    justify-self: end;
    cursor:pointer;
    border:1px solid #715A5A;
    color: #d3dad9;
    background-color: #44444e;


}
#right-bottom button:hover{
    background-color: #5a4a4a;
}

#group{
    display:none;
}
#group main{
    flex-grow:1;
    display:flex;
    gap:20px;
    padding:20px;
    max-height:100%;
    width:1100px;
    
}
#group #group-middle{
    min-width:400px;
    max-width:600px;   
    background-color: #00000065; 
    border-radius:10px;
}
#group #group-middle #group-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #08070776;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height:40px;
}
#group-top span{
    color:#D3DAD9;
    padding:20px;
    font-size:20px;
}

#group-add-icon{
    color:#D3DAD9;
    padding:20px;
    font-size:20px;
    cursor:pointer;
}

#group-add-icon:hover{
    color:#d3dad96e;
}


#group-bottom ul{
    list-style: none;
    padding:10px
}
#group-bottom ul li{
    border:1px solid #715A5A;  
    margin:5px;
    padding:5px;
    display: flex;
    justify-content: space-between;
}
#group-bottom ul li .Group-Name{
    color:#D3DAD9
}

#group-bottom ul li .Group-Name:hover{
    cursor:pointer;
    color:#d3dad96b
}

#group-bottom ul li .buttons{
    display:flex;
    gap:5px;
    justify-content: space-between;
}
#group-right{
    background-color: #37353E;
    border:1px solid #715a5a;
    border-radius:10px;
    display: none;
    flex-direction: column;
    flex-grow:1;
    height:100%;
    

}
#group-creation{
    display:none;
    margin:10px;
    padding:10px;
    border:1px solid #715A5A;
    border-radius:10px;
    height:100%;
}

#group-creation-form{
    display: flex;
    flex-direction: column;
    width:100%;
}

#group-creation-form h1{
    font-size:1.3rem;
    color:#d3dad9;
    margin-bottom:15px;
   
}

#group-creation-form h3{
    font-size:1rem;
    color:#d3dad9;
    margin-bottom:15px;
    font-weight:700;
}
#list-of-users-for-groups{
    list-style: none;
    color:#D3DAD9;
    height:100px;
    overflow:scroll;
    scrollbar-width:thin;
    scroll-behavior: smooth;
}
#list-of-users-for-groups input[type="checkbox"]{
    margin-right:5px;

    
}
#group-creation-form button{
    width:100%;
    padding:5px;
    background:#44444e;
    color:#D3DAD9;
    border:1px solid #715A5A;
    font-family: "Sansation";
    font-size:1rem;
}
#group-creation-form button:hover{
    background: linear-gradient(to right,#5a4a4a,#715A5A);
}
#group-details{
    display: none;
    flex-direction: column;   
    border: 2px solid black;
    margin:15px;
    width:92%;
    height:95%;
    background-color: #29272d;
    border-radius:10px;
    color:#D3DAD9;
    padding:10px;
}
#Group-Name-Details{
    font-size:large; 
    margin-bottom:5px;
}
#Group-Desc-Details{
    margin-top:5px;
    font-size:smaller;
}
#Group-users-Details{
    margin-top:10px;
    border:2px solid black;
    background-color: #44444E;
    overflow-y: auto;
    width:30%;
    padding:5px;
    height:80%;
}
#Sticky{
    position:sticky;
    top:0;
    background-color: #44444E;
}
#Group-users-Details #Sticky h3{
    margin-bottom:5px;
    
}
#Group-users-Details #Sticky hr{
    margin-bottom:5px;
    

}
#Group-users-Details #List-of-Users{
    /* padding-top:10px; */
    list-style: none;
    line-height: 17px;
    
    min-height:250px;
    scrollbar-width: thin;
}
#Group-Expenses-Details{
    max-height:250px;
    padding:10px;
    background-color: #44444e;
    border:2px solid black;
    
}
.expenses-scroll-container {
  max-height: 200px; 
  overflow-y: auto;   
  overflow-x: auto;   
}
#list-of-expenses th{
   position:sticky;
   top:0;
   background-color:#29272d;
   border:1px solid #D3DAD9;
   z-index:1;
}

#list-of-expenses2{
    width:100%;
    border-collapse: collapse;
    

    
}
#list-of-expenses2 tr td , th,#list-of-expenses{
    border:1px solid #D3DAD9;
}
#list-of-expenses2 tr td{
    padding-left:10px;
}
#list-of-expenses2 th{
   position:sticky;
   top:0;
   background-color:#29272d;
   border:1px solid #D3DAD9;
   z-index:1;
}

#group-expense-addition {
    border:1px solid black;
    width:95%;
    height:95%;
    margin:10px;
}
#group-expense-form{
    width:100%;
}
#Graph-for-Users{
    background-color: #D3DAD9;
    margin:10px;
    height:250px;
    
}
#barchart{
    
}
